* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e2e2e2;
}
.container {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #393e46;
  padding: 0 0.4em;
  color: #fff;
  border-radius: 20px;
  position: relative;
  transition: transform 0.5s, box-shadow 0.5s;
}

.container:hover {
  box-shadow: 4px 4px 7px #c4c4c4, -4px -4px 7px #f2f2f2;
  transform: scale(1.1);
}

.box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.4s;
}
.box:hover {
  transform: translateY(-10px);
  background: linear-gradient(to right, #36b2a0, #36b2a0);
}
i {
  cursor: pointer;
  transition: transform 0.4s;
}
.box:hover i {
  transform: scale(1.5);
}

.box:active i {
  transform: scale(1.3);
  transition: transform 0.2s;
  cursor: zoom-out;
}
